<div class="rounded bg-white m-auto" >
    <div class="row">
        <!-- <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
              <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
              <span class="font-weight-bold">Edogaru</span>
              <span class="text-black-50">edogaru@mail.com.my</span>
            </div>
        </div> -->
        <div class="border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">{{"Profile Settings"|translate}}</h4>
                </div>
                <form #UserInfo="ngForm" (ngSubmit)="Edit(UserInfo.value)">
                  <div class="row mt-2">
                      <div class="col-md-6">
                        <label class="labels">{{"First Name"|translate}}</label>
                        <input ngModel name ="firstName" type="text" class="form-control" placeholder="{{'First Name'|translate}}" value="">
                      </div>
                      <div class="col-md-6">
                        <label class="labels">{{"Last Name"|translate}}</label>
                        <input ngModel name ="lastName" type="text" class="form-control" value="" placeholder="{{'Last Name'|translate}}">
                      </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col-md-12">
                        <label class="labels">{{"Phone Number"|translate}}</label>
                        <input ngModel name ="phoneNumber"  type="text" class="form-control" placeholder="{{'Phone Number'|translate}}" value="">
                      </div>
                      <div class="col-md-12 mt-3">
                        <label class="labels">{{"Email"|translate}}</label>
                        <input ngModel name ="email" type="text" class="form-control" placeholder="{{'Email'|translate}}" value="">
                      </div>
                  </div>

                  <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="submit">{{"Save"| translate}}</button>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>
