<div class="about-us">
  
      <div class="row">
          <div class="col-lg-6">
              <div class="left-image">
                  <img src="https://images.pexels.com/photos/5632397/pexels-photo-5632397.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
              </div>
          </div>
          <div class="col-lg-6">
              <div class="right-content">
                  <h4>{{"AboutUS"|translate}} </h4>
                  <span>{{"The Most Exciting Experience For online shopping"|translate}}</span>
                  <div class="quote">
                      <i class="fa fa-quote-left"></i><p>{{"We are here for you to help you find all you need easyiely"|translate}}</p>
                  </div>
                  <p>{{"With us shopping become easy, as you can get what you need in short time by one click"|translate}}</p>
                  <!-- <ul>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-behance"></i></a></li>
                  </ul> -->
              </div>
          </div>
      </div>
  
</div>
