<div class="row">
  <div class="col">
    <h5 class="fs-6 fw-semibold">Eligible for Free Shipping</h5>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">{{"Free Shopping"|translate}}</label>
    </div>
    <ul  class="fs-6 fw-semibold list-group c">
      <li class="list-group-item border-0">{{"Category"|translate}}
        <ul class="list-group">
          <li class="list-group-item  border-0" style="font-size: 1vw;">Home & Kitchen
              <ul class="list-group text-wrap">
                  <li class="list-group-item fw-normal fs-6 border-0" style="font-size: 1.5vw;">Artwork</li>
                  <li class="list-group-item fw-normal border-0" style="font-size: 1vw;">Bedding & Linen</li>
                  <li class="list-group-item fw-normal border-0" style="font-size: 1vw;">Furniture</li>
                  <li class="list-group-item fw-normal border-0" style="font-size: 1vw;">Home Décor</li>
                  <li class="list-group-item fw-normal border-0" style="font-size: 1vw;">Household Appliances</li>
                  <li class="list-group-item fw-normal border-0" style="font-size: 1vw;">Household Cleaning Tools</li>
                  <li class="list-group-item fw-normal border-0" style="font-size: 1vw;">& Vacuums</li>
                  <li class="list-group-item fw-normal border-0" style="font-size: 1vw;">Kitchen</li>
                  <li class="list-group-item fw-normal border-0" style="font-size: 1vw;">Laundry, Steaming & Ironing</li>
                  <li class="list-group-item fw-normal border-0" style="font-size: 1vw;">Storage & Organization</li>
                  <li class="list-group-item fw-normal border-0" style="font-size: 1vw;">Waste & Recycling</li>


              </ul>
          </li>

        </ul>
      </li>

    </ul>
    <h5 class="fs-6 fw-semibold">Fulfilled by Amazon</h5>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">Fulfilled by Amazon</label>
    </div>


    <h5 class="fs-6 fw-semibold">Fulfilled by Amazon</h5>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">Generic</label>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">Other</label>
    </div><div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">Tupperware</label>
    </div><div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">Tornado</label>
    </div><div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">Tefal</label>
    </div>


    <h5 class="fs-6 fw-semibold">{{"Seller"|translate}}</h5>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">Amazon.eg</label>
    </div>
    <div class="form-check form-switch text-wrap">
      <input class="form-check-input " type="checkbox" id="flexSwitchCheckDefault">
      <label class="form-check-label " for="flexSwitchCheckDefault">Spaceshoop_October</label>
    </div><div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">HomesMart</label>
    </div><div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">wecanprint</label>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">malik
    </label>
  </div>


  <h5 class="fs-6 fw-semibold">Seller</h5>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
    <label class="form-check-label" for="flexSwitchCheckDefault">Include Out of Stock
  </label>
  </div>
</div>
</div>
